body {
  min-height:100vh;
  margin: 0;
}

header { 
  grid-area: header; 
}

aside { 
  grid-area: menu; 
}

main { 
  grid-area: main; 
}

footer { 
  grid-area: footer; 
}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu header header header header'
    'menu main main main main'
    'menu footer footer footer footer';
  grid-gap: 10px;
  grid-template-rows: 10% 1fr 10%;
  background-color: #2196F3;
}

.grid-container > div, nav {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

nav > ul {
  flex-direction: column;
  padding: 0;
}

ul > li {
  background-color: #f1f1f1;
  width: 100%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  list-style: none;
}

.sidenav {
  height: 100%;
  width: 18%; 
  position: fixed; 
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden; 
  padding-top: 60px; 
}
